# .gitignore para Spring Boot

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Maven ###
.mvn/
mvnw
mvnw.cmd

### Application ###
/uploads/
/logs/
*.log

### Environment Variables ###
.env
.env.local
.env.production

### Angular / Node.js ###
node_modules/
dist/
.angular/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings/

### OS Files ###
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

### Database ###
*.db
*.sqlite
